* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background: rgba(89, 205, 255, 0.64);
}

img {
    max-width: 100px;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: rgba(14, 96, 137, 0.664);
    color:rgb(226, 226, 226);
    height: 60px;
}

.navbar a:hover {
    color: rgb(106, 106, 106);
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1.2px 1.2px rgb(89, 89, 89);

}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color:rgb(90, 213, 215);
}

.header h1 {
    font-weight: bold;
    line-height: 1.2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: rgb(90, 213, 215);
    align-items: center;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
}

.box i {
    margin-right: 15px;
}

.header img {
    max-width: 200px;
}